@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Personality Assessment</h3>

    <button class="start-btn" onclick="location.href='/Assessment/PersonalityTest'">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text">Start</span>
    </button>

</div>
